body {
    margin: 0;
    padding: 54px 0 0 0;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 100%;
    width: 100%;
}


/* header */

.top-header {
    padding: 0px 25px;
    height: 54px;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    z-index: 3;
}

.envato-logo {
    height: 18px;
    width: 152px;
}

.buy-button {
    background-color: #82b440;
    box-shadow: 0 2px 0 #6f9a37;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    line-height: 1.5;
    height: 31px;
    width: 94px;
}

button a {
    text-decoration: none;
}

.buy-button:hover {
    cursor: pointer;
}

.settings {
    display: flex;
    align-items: start;
    position: fixed;
    top: 154px;
    color: white;
    transition: 0.5s;
    z-index: 5;
}

.gear {
    height: 29px;
    width: 29px;
    padding: 3.5px;
    margin: 0;
    border: 0;
    background-color: #414146;
}

.gear:hover {
    cursor: pointer;
}

.template-styles {
    background-color: #7e8082;
}

.template-styles p:first-child {
    background-color: #414146;
    padding-top: 5px;
    padding-bottom: 6px;
    margin: 0;
    font-size: 15px;
}

.template-styles p {
    padding-left: 15px;
    padding-right: 15px;
}

.template-styles button {
    display: inline-block;
    float: left;
    width: 14px;
    height: 26px;
    border: 1px solid #7e8082;
    margin: 0px;
    padding: 0px;
}

.colors {
    padding-left: 15px;
    padding-bottom: 35px;
}

.colors .yellow {
    background-color: #ffea00;
}

.colors .blue {
    background-color: #1bbc9b;
}

.colors .red {
    background-color: #e74c3c;
}

.colors .green {
    background-color: #aadd00;
}

.navigation {
    position: absolute;
    top: 94px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.main-navbar {
    background-color: #414146;
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salona-logo{
    height: 20px;
    padding-left: 20px;
}

.nav-buttons {
    display: flex;
}

.nav-buttons button{
    padding: 30px 17px;
    background-color: transparent;
    border: none;
    color: white;
}

.nav-buttons button:hover, .nav-buttons button:focus, .search button:hover{
    background-color: #ffea00;
    color: #414146;
    transition: 0.8s;
    cursor: pointer;
}

.search{
    height: 75.8px;
    background-color: #7e8082;
    display: flex;
}

.search input{
    background-color: transparent;
    border: none;
}

.search button{
    width: 38px;
    background-color: transparent;
    border: none;
}

.search-icon{
    width: 14px;
    height: 14px;
}


/* main */

#slider {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

#slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 25px;
    z-index: 3;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

#slider button:hover{
    background-color: yellow;
    color: black;
    transition: 0.5s;
}