*{
    margin: 0;
    padding: 0;
}

.main-block{
    padding: 10px;
    width: 300px;
    background-color: #fbf2e9;
}

.main-block p{
    margin-bottom: 5px;
}

.main-block input{
    width: 280px;
}